.sortamentTable .subscript {
	vertical-align: sub;
	font-size: xx-small;
}

.sortamentTable .superscript {
	vertical-align: super;
	font-size: xx-small;
}



/* 
Актуальные стили
*/

/* ПЕРЕНОС ТЕКСТА ЭЛЕМЕНТОВ СПИСКА В МАСТЕРЕ */
.sortamentItem .sapMSLITitleOnly {
	white-space: normal;
}

/* БОКОВЫЕ РАМКИ ТАБЛИЦЫ СОРТАМЕНТА */
.sortamentTable .sapMListTblCell {
    border-right: 1px solid #e5e5e5;
}

/* ВЕРХНИЕ ИНДЕКСЫ */
.superscript {
	vertical-align: super;
	font-size: xx-small;
}

/* НИЖНИЕ ИНДЕКСЫ */
.subscript {
	vertical-align: sub;
	font-size: xx-small;
}

/* Метки на одном уровне внутри флексов */

.alignLabel {
	line-height: 2;
  height: 1.4rem;
}