.sortamentTable .subscript {
	vertical-align: sub;
	font-size: xx-small;
}

.sortamentTable .superscript {
	vertical-align: super;
	font-size: xx-small;
}

.sortamentTable .sapMListTblCell {
    border-right: 1px solid #e5e5e5;
}

.sortamentItem .sapMSLITitleOnly {
	white-space: normal;
}